.patternLosangeOnWhiteVerticalBottomless {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #000 0, #000 32px, #fff 32px, #fff 64px);
    opacity: 0.05;
}

.patternLosangeOnWhiteVerticalBottomless::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, #000 0, #000 32px, #fff 32px, #fff 64px);
    mix-blend-mode: difference;
}

.patternLosangeOnWhiteVerticalBottomless::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0, white 25%);  ;
}







.patternLosangeOnDarkBlueHorizontal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #000 0, #000 32px, #fff 32px, #fff 64px);
    opacity: 0.05;
}

.patternLosangeOnDarkBlueHorizontal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, #000 0, #000 32px, #fff 32px, #fff 64px);
    mix-blend-mode: difference;
}

.patternLosangeOnDarkBlueHorizontal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0, white 25%);  ;
}

